

<app-muti-step-form [formData]="step_form" (nextAction)="setFormData($event)" (finishAction)="finishAction($event)">
  <ng-template let-step_content let-nextStepHandle="nextStepHandle">
    <div appFormStep id='1'>
      <div class="form-wrappe container">
          <h5>{{step_content.title}}</h5>

        <form #f="ngForm" class="row card-body form-row">


            <div class="form-row">
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationcreateAt">Fecha</label>
                  <small>{{form_data.createAt | date}}</small>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                    <label class="form-label" for="firstName">Nombre</label>
                  <input class="form-input"
                  [ngClass]="{'is-error': firstName.invalid && (firstName.dirty || firstName.touched)}" type="text"
                  id="firstName" name="firstName" [ngModel]="step_content.data.firstName" #firstName="ngModel"
                  placeholder="Nombre" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="lastName">Apellidos</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input class="form-input"
                    [ngClass]="{'is-error': lastName.invalid && (lastName.dirty || lastName.touched)}" type="text"
                    id="lastName" name="lastName" [ngModel]="step_content.data.lastName" #lastName="ngModel"
                    placeholder="Apellidos" required>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationindetification">N° Indetificación</label>
                  <input type="text" class="form-input" id="identification" placeholder="N° Identificación" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationServer04">Fecha de Vencimiento de su ID</label>
                  <input type="text" class="form-input" id="identificationPeriod" placeholder="Fecha vencimiento" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationbornDate">Fecha de nacimiento</label>
                  <input type="text" class="form-input" id="bornDate" placeholder="Fecha de Nacimiento" required>
                </div>
              </div>
        
        
              <div class="form-row">
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationindetification">País de nacimiento</label>
                  <input type="text" class="form-input" id="bornCountryId" placeholder="País de nacimiento" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationServer04">País de recidencia</label>
                  <input type="text" class="form-input" id="livingCountryId" placeholder="País de recidencia" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationbornDate">Nacionalidad</label>
                  <input type="text" class="form-input" id="nationality" placeholder="Nacionalidad" required>
                </div>
              </div>
        
        
              <div class="form-row">
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationindetification">Provincia</label>
                  <input type="text" class="form-input" id="province" placeholder="Provincia" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationServer04">Cantón</label>
                  <input type="text" class="form-input" id="identificationPeriod" placeholder="Cantón" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationbornDate">Distrito</label>
                  <input type="text" class="form-input" id="bornDate" placeholder="Distrito" required>
                </div>
              </div>
        
        
              <div class="form-row">
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationindetification">Teléfono</label>
                  <input type="text" class="form-input" id="primaryPhone" placeholder="Teléfono" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationServer04">Correo</label>
                  <input type="text" class="form-input" id="email" placeholder="Correo" required>
                </div>
                <div class="col-md-4 mb-3 col-sm-12">
                  <label class="form-label" for="validationindetification">Estado civil</label>
                  <input type="text" class="form-input" id="civilStatusId" placeholder="Estado civil" required>
                </div>
              </div>
        
        
              <div class="form-row">
                <div class="col-md-4">
                  <label class="form-label" for="validationServer04">Género</label>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="M" checked>
                      <label class="form-label" for="exampleRadios1">
                        Masculino
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="F">
                      <label class="form-label" for="exampleRadios2">
                        Femenino
                      </label>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                  <label class="form-label" for="validationbornDate">Dirección</label>
                  <textarea class="form-input" id="addres1" name="addres1" placeholder="Dirección" required></textarea>
                </div>
              </div>
        
        
              <hr>
        
              <div class="form-group" style="display: none;">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-label" class="form-check-label" for="invalidCheck">
                    Acepta los ternimos y condiciones de este documento
                  </label>
                </div>
                <button class="btn btn-primary" type="submit">Aceptar y Enviar</button>
              </div>
        </form>
        <button class="btn btn-success" [disabled]="f.invalid" (click)="nextStepHandle(f.value)">Next</button>
      </div>
    </div>
  </ng-template>

  <ng-template let-step_content let-nextStepHandle="nextStepHandle" let-backStepHandle="backStepHandle">
    <div appFormStep id='2'>
      <div class="form-wrapper">
        <h5>{{step_content.title}}</h5>{{form_data.createAt}}
        <form #f="ngForm">
          <div class="form-group">
            <label class="form-label" class="form-label" for="company">Company</label>
            <input class="form-input" [ngModel]="step_content.data.address" #address="ngModel" type="text"
              name="address" id="company" required placeholder="Company" required
              [ngClass]="{'is-error': address.invalid && (address.touched || address.dirty)}">
          </div>
        </form>
        <button class="btn btn-error" (click)="backStepHandle()">Back</button>
        <button class="btn btn-success" [disabled]="f.invalid"
          (click)="nextStepHandle({address: address.value})">Next</button>
      </div>
    </div>
  </ng-template>

  <ng-template let-step_content>
    <div appFormStep id='3'>
      <div class="form-wrapper">
        <h5>{{step_content.title}}</h5>
        <div class="form-group">
          <div class="form-group">
            <label class="form-label" class="form-label" for="desc">Description</label>
            <textarea class="form-input" id="desc" placeholder="Textarea" rows="3"></textarea>
          </div>
        </div>

        <button class="btn btn-error">Back</button>
        <button class="btn btn-success">Finish</button>
      </div>
    </div>
  </ng-template>
</app-muti-step-form>