.fa {
    min-width: 16px;
}

.row {
    display: block;
    background-color: #ffffff;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.form-wrapp {
    width: 100%;
}

.form-label {
    display: block;
    line-height: inherit;
    padding: .3rem 0;
    font-size: 12px;
    padding-top: 5px;
}

.mat-form-field {
    width: 95%;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.custom-control {
    font-size: 13px;
}

input[type=radio]{
    transform:scale(1.2);
  }

  input[type=checkbox] {
    width: auto;
}