<div class="row">
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationcurrentDate">Fecha</label>
        <input type="date" class="form-control" id="currentDate" placeholder="Fecha actual" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationfirstName">Nombre</label>
        <input type="text" class="form-control" id="firstName" placeholder="Nombre" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationlastName">Apellidos</label>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" id="lastName" placeholder="Apellidos" required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationindetification">N° Indetificación</label>
        <input type="text" class="form-control" id="identification" placeholder="N° Identificación" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer04">Fecha de Vencimiento de su ID</label>
        <input type="text" class="form-control" id="identificationPeriod" placeholder="Fecha vencimiento" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationbornDate">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="bornDate" placeholder="Fecha de Nacimiento" required>
      </div>
    </div>

    
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationindetification">País de nacimiento</label>
          <input type="text" class="form-control" id="identification" placeholder="N° Identificación" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer04">País de recidencia</label>
          <input type="text" class="form-control" id="identificationPeriod" placeholder="Fecha vencimiento" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationbornDate">Nacionalidad</label>
          <input type="text" class="form-control" id="bornDate" placeholder="Fecha de Nacimiento" required>
        </div>
      </div>

    
        <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationindetification">Provincia</label>
              <input type="text" class="form-control" id="identification" placeholder="N° Identificación" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationServer04">Cantón</label>
              <input type="text" class="form-control" id="identificationPeriod" placeholder="Fecha vencimiento" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationbornDate">Distrito</label>
              <input type="text" class="form-control" id="bornDate" placeholder="Fecha de Nacimiento" required>
            </div>
          </div>

    
          <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationindetification">Teléfono</label>
                <input type="text" class="form-control" id="identification" placeholder="N° Identificación" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationServer04">Correo</label>
                <input type="text" class="form-control" id="identificationPeriod" placeholder="Fecha vencimiento" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationindetification">Estado civil</label>
                <input type="text" class="form-control" id="identification" placeholder="N° Identificación" required>
              </div>
            </div>

    
          <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationServer04">Género</label>
                <input type="text" class="form-control" id="identificationPeriod" placeholder="Fecha vencimiento" required>
              </div>
              <div class="col-md-8 mb-3">
                <label for="validationbornDate">Dirección</label>
                <input type="text" class="form-control" id="bornDate" placeholder="Fecha de Nacimiento" required>
              </div>
            </div>


            <hr>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Acepta los ternimos y condiciones de este documento
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Aceptar y Enviar</button>
  </form>
</div>